@import 'common/styles/variables';
@import 'common/styles/mixns';

.container {
  position: relative;
  z-index: 1;

  .burger {
    cursor: pointer;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray400;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    transform: translate(-90%, 0%);
  }
}


