@import "../../common/styles/variables";
@import "../../common/styles/mixns";

.headerContainer {
  height: 60px;
  background-color: $gray200;
  box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03),
  0 1px 2px rgba(29, 33, 38, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 0 63px;

  > h2 {
    @include text(600, 26px, 36px);
  }

  .userAndLogout {
    display: flex;
    align-items: center;
    column-gap: 80px;
    .userName {
      @include text(600, 16px, 24px);
      border-bottom: 1px dashed $gray1000;
    }

    .logout {
      display: flex;
      align-items: center;
      column-gap: 15px;
      cursor: pointer;
      > span {
        @include text(400, 14px, 24px);
      }
    }
  }

  > a {
    text-decoration: none;
    @include text(600, 16px, 24px);
  }
}