@import 'common/styles/variables';
@import 'common/styles/mixns';

.title {
  @include text(500, 20px, 24px, $gray1100);
  align-self: center;
  margin-bottom: 31px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
  margin-bottom: 18px;

  .successesNotify {
    position: absolute;
    @include text(400, 14px, 24px, $gray700);
    bottom: 55px;
  }

  > button {
    margin-top: 48px;
  }
}

.forgotPass {
  @include text(400, 16px, 24px, $gray700);
  align-self: center;
  margin-bottom: 12px;
}

a {
  @include text(500, 14px, 24px, $red300);
  text-decoration: underline;
  align-self: center;
}

