@import 'common/styles/variables';
@import 'common/styles/mixns';

.container {
  display: flex;
  flex-direction: column;

  .textarea {
    margin-bottom: 24px;
  }

  .count {
    margin: 0 0 31px 0;
    @include text(600, 18px, 24px)
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    margin-bottom: 24px;

    > button:nth-child(1) {
      width: 96px;
    }

    > button {
      width: 158px;
    }
  }

  .comments {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 36px;
  }
}