@import "../../styles/mixns";
@import "../../styles/variables";

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $gray1000;

  .icon {
    display: flex;
  }

  span {
    @include text(400, 14px, 24px);
    margin-left: 15px;
  }
}

.active {
  color: $red200;
  span {
    color: $red200;
  }
  .icon * {
    fill: $red200;
  }
}