$gray1200: #000000;
$gray1100: #0D0C0B;
$gray1000: #1A1718;
$gray900: #636262;
$gray800: #737067;
$gray700: #797476;
$gray600: #ADABAC;
$gray500: #B3B0B1;
$gray400: #DEDBDC;
$gray300: #FAF7F8;
$gray200: #FCFBFB;
$gray100: #FFFFFF;

$red500: #CC1439;
$red400: #e12d5f;
$red300: #F73636;
$red200: #F8346B;
$red100: #FB85A6;

$blue: #3677F7;

