@import "../../common/styles/mixns";
@import "../../common/styles/variables";

.searchBar {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  .input {
    width: 672px;
  }

  .select {
    width: 256px;
  }
}