@import "../../styles/mixns";
@import "../../styles/variables";

.titleContainer {
  display: flex;
  align-items: center;
  column-gap: 11px;
  position: relative;
  margin-bottom: 30px;

  &::after {
    content: '';
    position: absolute;
    background: $gray400;
    width: 106.8%;
    height: 1px;
    bottom: -7px;
    left: 53.4%;
    transform: translate(-50%);
  }

  .title {
    @include text(500, 20px, 24px);

  }

  .desc {
    @include text(400, 12px, 16px);
    letter-spacing: 0.02em;
  }


}

