@import 'common/styles/variables';
@import 'common/styles/mixns';

.notificationContainer {
  width: 378px;
  background-color: $gray200;
  .messageAndBtn {
    display: flex;
    flex-direction: column;
    padding: 30px 21px 36px 24px;
    .message {
      @include text(400, 16px, 24px);
      margin-bottom: 30px;
    }
    .button {
      align-self: flex-end;
      width: 124px;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      > button {
        width: 124px;
      }
    }
  }

}