@import "../../../common/styles/mixns";
@import "../../../common/styles/variables";

.blogContainer {
  display: flex;
  .photo {
    img {
      width: 156px;
      height: 156px;
      border-radius: 50%;
      border: 1px solid $gray400;
    }
  }

  .content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    .navBlog{
      text-decoration: none;
      .title {
        margin: 0;
        @include text(600, 18px, 24px);
      }
    }
    .website {
      margin-bottom: 20px;
      @include text(400, 14px, 24px, $blue);


      b {
        font-weight: 400;
        color: $gray800;
      }

      a {
        color: $blue;
        margin-left: 5px;
      }
    }
  }
}

