@import "../../../common/styles/mixns";
@import "../../../common/styles/variables";

.blogContainer {
  display: flex;
  padding: 11px 0;
  border-bottom: 1px solid $gray400;
  column-gap: 12px;
  &:last-child {
    border-bottom: none;
  }

  img {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    border: 1px solid $gray400;
  }

  .content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;

    .navBlog {
      text-decoration: none;

      .title {
        margin-bottom: 2px;
        @include text(600, 18px, 24px);
      }
    }

    .website {
      @include text(400, 14px, 24px, $blue);


      b {
        font-weight: 400;
        color: $gray800;
      }

      a {
        color: $blue;
        margin-left: 5px;
        text-decoration: underline;
      }
    }

    .text {
      margin-top: 24px;
      @include text(400, 14px, 24px);
    }
  }

  .border {
    height: 1px;
    width: 100%;
    background-color: $gray400;
  }
}

