@import 'common/styles/mixns';

.container {
  position: relative;

  > span {
    @include text(400, 14px, 24px, $gray800);
  }

  .input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray400;
    @include text(400, 16px, 24px);
    outline: none;
    padding: 0 0 2px 0;
    width: 100%;

    &[data-showpassword="true"] {
      -webkit-text-security: disc;
    }

    &:hover {
      border-bottom: 1px solid $gray700;
    }

    &:focus {
      border-bottom: 1px solid $gray700;
    }

  }

  .showPassword {
    position: absolute;
    bottom: 7%;
    right: 3%;
    cursor: pointer;
  }

  .searchInput {
    height: 36px;
    width: 100%;
    background: transparent;
    border: 1px solid $gray400;
    border-radius: 3px;
    padding-left: 48px;
    outline: none;
    @include text(400, 14px, 24px);

    &::placeholder {
      color: $gray500;
    }

    &:hover {
      border: 1px solid $gray700;
    }

    &:focus {
      border: 1px solid $gray700;
    }
  }

  .glassMag {
    position: absolute;
    left: 15px;
    top: 9px;
  }

  .textarea {
    background-color: transparent;
    border: 1px solid $gray400;
    @include text(400, 16px, 24px);
    border-radius: 2px;
    resize: none;
    outline: none;
    padding: 6px 12px;
    height: 84px;
    width: 100%;
    @include text(400, 14px, 24px);
    font-family: inherit;
    &:hover {
      border: 1px solid $gray700;
    }

    &:focus {
      border: 1px solid $gray700;
    }
  }
}

