@import 'common/styles/variables';
@import 'common/styles/mixns';

  .searchBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    .input {
      width: 672px;
    }

    .select {
      width: 256px;
    }
  }

  .pagination {
    margin-top: 36px;
  }

