@import "../../../../common/styles/mixns";
@import "../../../../common/styles/variables";


.mainTitleWrapper {
  margin-bottom: 35px;
}

.postDeployedContainer {
  margin-top: 36px;

  .blogInfo {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .blogAvatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    .blogTitle {
      @include text(600, 16px, 24px);
    }
  }

  .postInfo {
    margin: 28px 0 20px 0;

    .titleWrapper {
      display: flex;
      align-items: center;
      column-gap: 12px;

      .postTitle {
        margin: 0 0 9px 0;
        @include text(600, 22px, 24px);
      }

      .typeOfPost {
        @include text(400, 12px, 16px, $gray700);
      }
    }

    .date {
      @include text(400, 12px, 16px);
      letter-spacing: 0.02em;
      color: $gray700;
    }
  }

  .content {
    .postBanner {
      background-color: white;
      height: 432px;
      width: 940px;
    }

    .content {
      @include text(400, 16px, 24px);
      margin-top: 30px;
    }

    margin-bottom: 47px;
  }
}