@import "../../../../common/styles/variables";
@import "../../../../common/styles/mixns";

.container {
  padding-bottom: 26px;
  .blog {
    padding-bottom: 23px;
    border-bottom: 1px solid $gray400;
    margin-bottom: 48px;
    .backLink {
      margin: 44px 0 12px 0;
    }

    .banner {
      height: 312px;
      width: 106.8%;
      margin-bottom: 13px;
    }
  }
}