@import "../../../../common/styles/variables";
@import "../../../../common/styles/mixns";

.blogPageContainer {
  .backLink {
    margin: 44px 0 12px 0;
  }

  .banner {
    height: 312px;
    width: 106.8%;
    margin-bottom: 13px;
  }
}